% Steady State Configuration file
% Please use the following format for input parameters
% [SLAB/ROD Geometry, # of Discrete Ordinate Directions, total length of system (value will be ignored if ROD geometry), number of points you want to calculate, total cross section, scattering ratio, boundary value in positive direction, boundary value in negative direction, homogeneous isotropic source]
% ROD Example: [ROD, 0, 0.1, 100, 0.1, 0, 0, 0, 0.2]

%[ROD, 0, 0.1, 100, 0.5, 0.5, 0, 0, 0.2]

% periodic 
% [T, n, yo, y_, m1, m2, Et1, cc, Q1, Et2, cc2, Q2]
[20.0, 100, 0.0, 0.0, 1.0, 1.0, 1.0, 0.5, 1.0, 0.0, 0.0, 0.0]
